.navbar-brand{
    font-size: 40px !important;
    padding-left: 10px;
    margin-right: 550px !important;
}
.nav-link{
    font-size: large;
    margin-right: 10px !important;
}
.carro{
    margin-left: 150px;
}